@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrow-hover {
  0% {
    transform: translate(0px, 0px);
  }

  49% {
    transform: translate(17px, -17px);
  }

  50% {
    transform: translate(17px, 17px);
  }

  51% {
    transform: translate(-17px, 17px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 0.5s;
}

.arrow-hover {
  line-height: 1 !important;
  color: var(--body-color);
  font-weight: 400;
  position: relative;
  overflow: hidden;
  width: max-content;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  gap: 2px;

  span.material-symbols-outlined {
    font-size: 18px;
    line-height: 16px;
    margin: 0;

    transform: translate(0px, 0px);
  }

  &:hover {
    color: $hot-pink;
    span.material-symbols-outlined {
      color: $hot-pink;
      animation: arrow-hover 400ms;
    }
  }
}

.underline-hover {
  position: relative;
  // line-height: 25px;
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    background-color: $hot-pink;
    transition: 0.15s ease-in-out;
    display: block;
  }

  &:hover {
    color: $hot-pink;

    &::after {
      width: 100%;
    }
  }
}

.circle-hover {
  background: var(--background-color-inverse);
  font-size: 20px;
  @include flex-center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);

  svg {
    z-index: 11;
    color: var(--body-color-inverse);
  }

  &:hover {
    svg {
      color: #fff;
    }
    &::after {
      height: 38px;
      width: 38px;
    }
  }

  &::after,
  &::before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    background: $hot-pink;
    position: absolute;
    border-radius: 50%;
    transition: 0.2s ease;
  }
}
