@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

:root {
  --background-color: #fff;
  --background-color-inverse: #161e40;
  --body-color: #161e40;
  --body-color-inverse: #fff;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --nav-bg: rgb(22, 30, 64, 0.6);
  --toggle-border: rgb(22, 30, 64, 0.5);
  --low-transparency: rgb(22, 30, 64, 0.1);
  --solar-system-forefront: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

[data-theme="dark"] {
  --background-color: #161e40 !important;
  --background-color-inverse: #fff !important;
  --body-color: #fff !important;
  --body-color-inverse: #161e40 !important;
  --bold: 600;
  --toggle-border: rgb(255, 255, 255, 0.5);
  --low-transparency: rgb(255, 255, 255, 0.1);
  --solar-system-forefront: linear-gradient(
    90deg,
    rgba(22, 30, 64, 1) 0%,
    rgba(22, 30, 64, 0.25) 100%
  );
}

* {
  font-family: "Neue Haas Unica", sans-serif;
  margin: 0;
  box-sizing: border-box !important;

  &::before,
  &::after {
    margin: 0;
  }
}

#root {
  &:has(.work, .work-page) {
    .solar-system-forefront,
    .solar-system {
      display: none;
    }
  }
}

html {
  font-size: 16px !important;
}

body {
  background-color: var(--background-color);
  color: var(--body-color);
  transition: 0.15s ease-in-out;
}

.container {
  max-width: 630px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  position: relative;

  @media (min-width: $md) {
    padding: 25px 20px 20px 20px;
  }

  &:has(.nav--scroll-active) {
    margin-top: 25px;

    .work-page__back {
      z-index: 2;

      @media (min-width: $md) {
        margin-left: 8px;
      }
    }

    .nav--scroll-active .social-links {
      display: flex;
    }
  }
}
