@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.projects {
  display: flex;
  flex-direction: column;
  gap: 25px !important;
  margin-top: 35px;

  h1 {
    font-size: 1.4rem;
    animation: fade-up 0.25s;
    margin: 0;
    font-weight: 500;
  }

  &__item {
    display: flex;
    color: var(--body);
    text-decoration: none;
    gap: 25px;
    animation: fade-up 0.5s;

    &:hover {
      .projects__icon span::after {
        animation: pulse-in 0.4s forwards ease-in-out;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }

    > div {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.25rem;
        line-height: 50px;
        font-weight: 500;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.5;
        opacity: 0.8;
        font-weight: 400;
      }
    }
  }

  &__icon {
    img {
      z-index: 2;
    }

    &--light {
      span {
        background: #fff;
      }
    }

    &--dark {
      span {
        background: #161e40;
      }
    }

    span {
      position: relative;
      z-index: 1;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &::after {
        content: "";
        @include pos-center;
        height: 0;
        width: 0;
        background: $hot-pink;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &__tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;

    span {
      background: $hot-pink;
      color: #fff;
      line-height: 1;
      padding: 5px 6px;
      border-radius: 8px;
    }
  }

  &__external-links {
    margin-top: 15px;
    a {
      color: var(--body);
      text-decoration: none;
      font-size: 23px;
    }
  }
}

@keyframes pulse-in {
  0% {
    width: 0;
    height: 0;
  }

  60% {
    width: 130%;
    height: 130%;
  }

  100% {
    height: 115%;
    width: 115%;
  }
}
