@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.react-projects {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px !important;

  h1 {
    font-size: 1.4rem;
    animation: fade-up 0.25s;
    margin: 0;
  }

  &__item {
    display: flex;
    color: var(--body);
    text-decoration: none;
    gap: 25px;
    animation: fade-up 0.5s;

    &:hover {
      .react-projects__icon span::after {
        animation: pulse-in 0.5s forwards ease-in-out;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 1.25rem;
        line-height: 35px;
        font-weight: 500;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.5;
        opacity: 0.8;
        font-weight: 400;
      }
    }
  }

  &__icon {
    img {
      z-index: 2;
    }

    span {
      position: relative;
      z-index: 1;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        @include pos-center;
        height: 0;
        width: 0;
        background: $hot-pink;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &__tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;

    span {
      background: $hot-pink;
      color: #fff;
      line-height: 1;
      padding: 5px 6px;
      border-radius: 8px;
    }
  }
}

@keyframes pulse-in {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 155%;
    height: 155%;
  }

  100% {
    height: 145%;
    width: 145%;
  }
}

@keyframes pulse-out {
  0% {
    width: 135%;
    height: 135%;
  }

  50% {
    width: 145%;
    height: 145%;
  }

  100% {
    height: 0;
    width: 0;
  }
}
