footer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 30px;
  justify-content: space-between;
  line-height: 1;
  font-size: 0.9rem;
  margin-bottom: -5px;

  img {
    width: 35px;
    display: block;
  }
}
