@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.nav {
  position: relative;
  @include flex-between;
  z-index: 2;

  &--scroll-active {
    position: fixed;
    margin: 0 auto;
    inset: 15px 15px auto 15px;
    max-width: 560px;
    background: var(--nav-bg);
    padding: 17px;
    border-radius: 14px;
    backdrop-filter: blur(8px);
    animation: nav-fade-in 0.4s;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(255, 255, 255, 0.2);

    a {
      color: #fff !important;
    }

    #themeToggle {
      border: 1px solid rgba(255, 255, 255, 0.5) !important;

      &::before {
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__logo {
    font-weight: 500 !important;
    font-size: 20px !important;

    span {
      color: $hot-pink;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    height: 22px;
    width: 100%;

    a {
      text-decoration: none;
      color: var(--body-color);
      font-size: 1rem;
      position: relative;
      line-height: 1;

      &.active {
        // color: $hot-pink;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 8px 11px;
        border-radius: 6px;
      }

      &:hover {
        // color: $hot-pink;
      }
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .social-links {
    display: none !important;
    gap: 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      height: 15px;
      width: 1px;
      background: rgba(255, 255, 255, 0.5);
    }

    a {
      &:hover::after {
        height: 30px !important;
        width: 30px !important;
      }

      svg {
        font-size: 15px !important;
        color: #fff !important;
      }
    }
  }
}

#themeToggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  width: 40px;
  background-color: transparent;
  border-radius: 12px;
  padding: 0 7px;
  border: 1px solid var(--toggle-border);
  // margin-left: 5px;

  &:has(input:checked) {
    &::before {
      left: calc(100% - 18px);
      background-color: $hot-pink;
      border-color: $hot-pink;
    }

    svg,
    .material-symbols-outlined {
      color: #161e40;
    }
  }

  &::before {
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid var(--toggle-border);
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    transition: 0.2s ease-in-out;
  }

  input {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: $md) {
  .nav {
    &--scroll-active {
      margin: 0 auto;
      inset: 15px 0 auto 0;
      max-width: 580px;

      .social-links {
        display: flex !important;
      }
    }

    &__links {
      .underline-hover {
        margin: 0 !important;
      }

      > div {
        gap: 15px;
      }
    }

    .social-links {
      padding-right: 8px;
    }
  }
}
