@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.solar-system {
  position: absolute;
  @include flex-between;
  flex-direction: row-reverse;
  z-index: -2;
  min-width: 500px;
  width: 100%;
  inset: 0;
  transform: scale(1);

  &-forefront {
    background: var(--solar-system-forefront);
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  > div {
    border-radius: 50%;
  }

  &__sun {
    height: 160px;
    width: 160px;
    background-color: rgb(255, 183, 3);
  }

  &__mercury {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 141, 2);
  }

  &__venus {
    height: 10px;
    width: 10px;
    background-color: rgb(208, 148, 18);
  }

  &__earth {
    height: 20px;
    width: 20px;
    background-color: rgb(2, 116, 255);
  }

  &__mars {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 74, 2);
  }

  &__jupiter {
    height: 90px;
    width: 90px;
    background-color: rgb(255, 207, 84);
  }

  &__saturn {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 233, 179);
  }

  &__uranus {
    height: 20px;
    width: 20px;
    background-color: rgb(1, 174, 131);
  }

  &__neptune {
    height: 20px;
    width: 20px;
    background-color: rgb(24, 66, 255);
  }
}

@media (min-width: $sm) {
  .solar-system {
    transform: scale(1.25);
  }
}
