@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.solar-system {
  position: absolute;
  @include flex-between;
  flex-direction: row-reverse;
  z-index: -2;
  min-width: 525px;
  width: 100%;
  inset: 0;
  left: 50%;
  transform: scale(1.1) translateX(-50%);
  // background-color: black;

  &-forefront {
    background: var(--solar-system-forefront);
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  > div {
    border-radius: 50%;
    animation: planet-float 12s ease-in-out infinite;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        animation-delay: -($i * 1.5s);
      }
    }
  }

  &__sun {
    height: 140px;
    width: 140px;
    background-color: rgb(255, 153, 51, 1);
    filter: drop-shadow(0 0 25px rgb(255, 92, 28, 0.85));
  }

  &__mercury {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 141, 2, 1);
  }

  &__venus {
    height: 10px;
    width: 10px;
    background-color: rgb(208, 148, 18, 1);
  }

  &__earth {
    height: 20px;
    width: 20px;
    background-color: rgb(2, 116, 255, 1);
    position: relative;

    &__moon {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      animation: moon-rotate 8s linear infinite;

      &::after {
        content: "";
        height: 4px;
        width: 4px;
        background: rgba(255, 230, 209, 1);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
        display: block;
        border-radius: 50%;
        position: absolute;
        inset: -12px auto auto auto;
      }

      @keyframes moon-rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__mars {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 74, 2, 1);
  }

  &__jupiter {
    height: 60px;
    width: 60px;
    background-color: rgb(202, 143, 66);
  }

  &__saturn {
    &__plannet {
      height: 35px;
      width: 35px;
      background-color: rgb(255, 233, 179, 1);
      position: relative;
      border-radius: 50%;
    }

    &::before,
    &::after {
      content: "";
      width: 180%;
      height: 15px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-30deg);
      border-radius: 50%;
    }

    &::before {
      border: 1px solid rgb(124, 110, 73, 1);
      border-bottom: none;
      z-index: -1;
    }

    &::after {
      border: 1px solid rgb(124, 110, 73) !important;
      border-top: none !important;
      z-index: 1;
    }
  }

  &__uranus {
    height: 15px;
    width: 15px;
    background-color: rgba(1, 197, 122, 1);
  }

  &__neptune {
    height: 15px;
    width: 15px;
    background-color: rgba(24, 86, 255, 1);
  }
}

@media (min-width: $sm) {
  .solar-system {
    transform: scale(1.2);
    left: 0;
  }
}

@keyframes planet-float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(8px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}
