@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrow-hover {
  0% {
    inset: 0 auto auto 95px;
  }

  49% {
    inset: -17px auto auto 112px;
  }

  50% {
    inset: 17px auto auto 112px;
  }

  51% {
    inset: 17px auto auto 78px;
  }

  100% {
    inset: 0 auto auto 95px;
  }
}
