@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrow-hover {
  0% {
    transform: translate(0%, -50%) rotate(-45deg);
  }

  49% {
    transform: translate(100%, -150%) rotate(-45deg);
  }

  50% {
    transform: translate(100%, 150%) rotate(-45deg);
  }

  51% {
    transform: translate(-200%, 150%) rotate(-45deg);
  }

  100% {
    transform: translate(0%, -50%) rotate(-45deg);
  }
}

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 0.5s;
}

.arrow-hover {
  line-height: 1 !important;
  padding: 1px 18px 1px 0;
  color: var(--body-color);
  font-weight: 400;
  position: relative;
  overflow: hidden;
  width: max-content;
  text-decoration: underline !important;
  display: flex;
  align-items: center;

  svg {
    font-size: 16px;
    height: 16px;
    line-height: 1;
    top: 60%;
    transform: translate(0%, -50%) rotate(-45deg);
    position: absolute;
    right: -1px;
  }

  &:hover {
    color: $hot-pink;

    svg {
      color: $hot-pink;
      animation: arrow-hover 500ms;
    }
  }
}

.underline-hover {
  position: relative;
  line-height: 25px;
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    background-color: $hot-pink;
    transition: 0.15s ease-in-out;
    display: block;
  }

  &:hover {
    color: $hot-pink;

    &::after {
      width: 100%;
    }
  }
}
