@import "variables.scss";
@import "animations.scss";

.home,
.work {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 60px 0 30px 0;

    * {
      margin: 0;
    }

    h1 {
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 1.35;
      animation: fade-up 0.5s;
    }

    h2 {
      font-size: 1.1rem;
      line-height: 1.65;
      font-weight: 400;
      animation: fade-up 1s;
    }

    a {
      // margin-top: -15px;
      animation: fade-up 1.25s;
    }
  }

  h3 {
    line-height: 1;
    font-size: 1.3rem;
    position: relative;
    margin-bottom: 7px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: $hot-pink;
    animation: fade-up 1.5s;
  }

  &__external-links {
    @include flex-between;
    z-index: 0;
    animation: fade-up 0.75s;

    > div {
      display: flex;
      align-items: center;
      gap: 2px;
      margin: -5px 0;
    }

    a {
      background: none;
      box-shadow: none;

      svg {
        font-size: 20px;
        color: var(--body-color);
      }
    }
    .resume-download {
      font-size: 1rem;
    }
  }

  &__selected-work,
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    animation: fade-up 1.75s;

    .selected-work {
      display: none;

      &:nth-of-type(-n + 3) {
        display: grid;
      }
    }

    > a {
      margin: 10px auto;
      color: var(--body-color);
      text-align: center;
      font-size: 1.1rem;
      line-height: 1;

      &:hover {
        color: $hot-pink;
      }
    }
  }
}

//Workpage work list inherits styles from here
.selected-work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  transition: 400ms ease;
  padding: 0;
  border-radius: 12px;
  margin: 0;

  &__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24vh;
    border-radius: 12px;

    img {
      max-height: 120px;
      max-width: 210px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    color: var(--body-color);
    text-decoration: none;
    transition: 400ms ease;

    &:hover {
      span {
        color: $hot-pink;
        transition: 200ms ease;
        font-weight: 500;

        svg {
          color: $hot-pink;
          animation: arrow-hover 400ms;
          animation-delay: 100ms;
        }
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    h4 {
      font-size: 1.1rem;
      line-height: 1;
    }

    p {
      line-height: 1.45rem;
      font-size: 1rem;
      // opacity: 0.7;
    }

    span {
      color: var(--body-color);
      font-size: 1rem;
    }
  }
  &--my-sal-pack .selected-work__thumbnail {
    background: #005b99;
  }
  &--my-blind-spots .selected-work__thumbnail {
    background: #212666;
  }
  &--boxti .selected-work__thumbnail {
    background: #9dd3d1;
  }
  &--annie-pirotta .selected-work__thumbnail {
    background: #ff0050;
  }

  &--kader-boot-co .selected-work__thumbnail {
    background: #aaa;
  }

  &--all-west-engineering .selected-work__thumbnail {
    background: #ff6a3d;
  }

  &--perfect-cotton .selected-work__thumbnail {
    background: #fff;
  }

  &--print-strategy-management .selected-work__thumbnail {
    background: #c7edf7;
  }
}

@media (min-width: $sm) {
  .home,
  .work {
    &__header {
      margin: 75px 0 45px 0;
      gap: 30px;

      h1 {
        font-size: 2.45rem;
      }
    }

    &__selected-work,
    &__list {
      gap: 20px !important;
    }
  }

  .selected-work {
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;

    &__thumbnail {
      height: 170px;

      img {
        max-width: 185px;
      }
    }

    &__content {
      padding: 10px 0 !important;
      gap: 10px;

      > div {
        gap: 10px;
      }
    }
  }
}

@media (min-width: $md) {
  .selected-work {
    &:hover {
      transform: scale(1.1);
      // padding: 5px;
      // background: var(--low-transparency);
      margin: 5px 0;
    }
  }
}
