@import "variables.scss";
@import "animations.scss";

.fade-up {
  animation: fade-up 0.5s;
}

.home,
.work {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 0 30px 0;
    animation: fade-up 0.5s;

    * {
      margin: 0;
    }

    h1 {
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 1.25;
      animation: fade-up 0.5s;
    }

    h2 {
      font-size: 1.1rem;
      line-height: 1.5;
      font-weight: 400;
      animation: fade-up 0.75s;
    }

    a {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      line-height: 1rem;
      color: var(--body-color);
      text-decoration: none;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      width: 110px;
      margin-top: -15px;
      animation: fade-up 1s;

      svg {
        font-size: 16px;
        transform: rotate(315deg);
        position: absolute;
        inset: auto auto auto 95px;
      }

      &:hover {
        color: $hot-pink;

        svg {
          color: $hot-pink;
          animation: arrow-hover 0.4s;
        }
      }
    }
  }

  h3 {
    line-height: 1;
    font-size: 1.3rem;
    position: relative;
    margin-bottom: 7px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: $hot-pink;

    // &::after {
    //   content: "";
    //   height: 3px;
    //   width: 46px;
    //   background: $hot-pink;
    //   display: block;
    //   position: absolute;
    //   right: 0px;
    //   bottom: -6px;
    // }
  }

  &__selected-work,
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .selected-work {
      display: none;

      &:nth-of-type(-n + 3) {
        display: grid;
      }
    }
  }
}

.selected-work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  &__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    border-radius: 10px;

    img {
      max-height: 75%;
      max-width: 75%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    h4 {
      font-size: 1.1rem;
      line-height: 1;
      // font-weight: 400;
    }

    p {
      line-height: 1.4rem;
    }

    a {
      color: var(--body-color);
    }
  }

  &--myBlindSpots .selected-work__thumbnail {
    background: #212666;
  }
  &--boxti .selected-work__thumbnail {
    background: #9dd3d1;
  }
  &--annieP .selected-work__thumbnail {
    background: #ff0050;
  }

  &--KBC .selected-work__thumbnail {
    background: #fe6847;
  }

  &--allWest .selected-work__thumbnail {
    background: #1c1f33;
  }

  &--perfectCotton .selected-work__thumbnail {
    background: #fff;
  }

  &--PSM .selected-work__thumbnail {
    background: #c7edf7;
  }
}

@media (min-width: $sm) {
  .home {
    &__header {
      margin: 75px 0 45px 0;
      gap: 40px;

      h1 {
        font-size: 2.45rem;
      }

      h2 {
        font-size: 1.25rem;
      }
    }
  }

  .selected-work {
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }
}
