@import "variables.scss";
@import "animations.scss";
@import "mixins.scss";

.profile {
  &__bio {
    animation: fade-up 1s;

    img {
      width: 100%;
      max-width: 135px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid $hot-pink;
      display: block;
      margin: 40px auto;
    }

    h1 {
      animation: fade-up 0.5s;
    }

    @for $i from 1 through 3 {
      p:nth-of-type(#{$i}) {
        animation: fade-up ($i * 0.25) + 0.25s;
      }
    }

    p,
    h1 {
      margin: 0 0 20px 0;
      font-size: 1rem !important;
      line-height: 1.55;
      font-weight: 400;

      a {
        display: inline-block;
        color: $hot-pink;
        margin: 0 0 0 3px;
        font-weight: 500;
      }
    }
  }

  &__footer {
    // margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px 20px;
    animation: fade-up 1.25s;

    h2 {
      font-size: 1.2rem;
      line-height: 1;
    }
  }

  &__experience {
    display: none;

    &__body {
      @include flex-column-start;
      gap: 20px;

      > div {
        background: var(--low-transparency);
        padding: 15px 17px;
        border-radius: 10px;
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.1rem;
      line-height: 1;
      margin: 0 0 10px 0;

      span {
        font-weight: normal;
        font-size: 14px;
        opacity: 0.7;
        margin: 0 0 0 3px;
        color: var(--body-color);
      }
    }

    p {
      line-height: 1.5;
      font-size: 1rem;
      opacity: 0.7;
    }
  }

  &__stack {
    display: none !important;

    order: -1;
    @include flex-column-start;
    gap: 20px;

    &__legend {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px 10px;

      span {
        @include flex-center;
        align-items: baseline !important;
        line-height: 1;
        font-size: 16px;
        gap: 0 6px;

        &::before {
          display: block;
          content: "";
          height: 11px;
          width: 11px;
          line-height: 10px;
          border-radius: 50%;
        }

        &:nth-child(1) {
          &::before {
            background-color: $hot-pink;
          }
        }

        &:nth-child(2) {
          &::before {
            background-color: $hot-pink;
            opacity: 0.66;
          }
        }

        &:nth-child(3) {
          &::before {
            background-color: $hot-pink;
            opacity: 0.33;
          }
        }
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 250px;
      padding: 0;
      list-style: none;
      // margin-top: -5px;

      li {
        background-color: $hot-pink;
        color: #fff;
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 5px;
        @include flex-center;
      }

      .moderate {
        background-color: rgb(221, 36, 118, 0.66);
      }

      .novice {
        background-color: rgb(221, 36, 118, 0.33);
      }
    }
  }
}

@media (min-width: $sm) {
  .profile {
    &__footer {
      grid-template-columns: auto 181px;
    }

    &__stack {
      order: 0;
    }

    &__experience {
      padding-right: 5px;
    }
  }
}

@media (min-width: $md) {
  .profile {
    &__bio {
      img {
        margin: 40px auto;
        max-width: 140px;
      }
    }
  }
}
