@import "variables.scss";
@import "mixins.scss";

.work {
  &__list {
    margin-top: 40px;

    h1 {
      font-size: 1.4rem;
      margin-bottom: -5px;
    }

    .selected-work {
      display: grid !important;

      &__content {
        padding-top: 0;
      }
    }
  }

  &-page {
    &__description {
      margin: 30px 0;
      h1 {
        font-size: 1.3rem;
        line-height: 1;
        margin: 0 0 10px 0;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }

    &__gallery {
      @include flex-column-start;
      gap: 35px 0;

      img {
        // max-width: 100%;
        border-radius: 10px;
        margin: -10px;
      }
    }
  }
}

@media (min-width: $sm) {
  .work {
    &-page {
      &__gallery {
        img {
          max-width: 100%;
          margin: 0;
        }
      }
    }
  }
}
