.work {
  &__list {
    margin-top: 40px;

    h1 {
      font-size: 1.4rem;
      margin-bottom: -5px;
    }

    .selected-work {
      display: grid !important;

      &__content {
        padding-top: 0;
      }
    }
  }
}
